doctype html
html
    head
        title Gestor de tarefas
        meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")
        link(rel="stylesheet", href="w3.css")
        script(src="https://kit.fontawesome.com/a076d05399.js")
        style.
            /*------------ Style : Submit Task ------------*/
            * {
                box-sizing: border-box;
            }

            /* Style the input container */
            .input-container {
                display: flex;
                width: 100%;
                margin-bottom: 15px;
            }

            /* Style the form icons */
            .icon {
                padding: 10px;
                background: #27C21F;
                color: white;
                min-width: 50px;
                text-align: center;
            }

            /* Style the input fields */
            .input-field {
                width: 100%;
                padding: 10px;
                outline: none;
            }

            .input-field:focus {
                border: 2px solid #27C21F;
            }

            /* Set a style for the submit button */
            .btn {
                background-color: #27C21F;
                color: white;
                padding: 15px 20px;
                border: none;
                cursor: pointer;
                width: 100%;
                opacity: 0.9;
            }

            .btn:hover {
                opacity: 1;
            }
    body
        block submitTask
        hr
        block seeTasks
        hr