extends layout
block content
    h1(style="font-family: Montserrat, sans-serif; margin-left: 5%; margin-top: 3%; color: #E18720") Prémios Nobel
    img(src="/images/nobel.svg" alt="" style="display: block; width: 25%; margin: auto")
    
    div(style="font-family: Montserrat, sans-serif; margin-left: 5%; margin-top: 3%")
        | &#128073; 
        a(href="interface/premios") Consultar todos os prémios Nobel
        br
        br
        | &#128073; 
        a(href="interface/categorias") Consultar todas as categorias que estão associadas aos prémios Nobel
        br
        br
        | &#128073; 
        a(href="interface/laureados") Consultar todas as pessoas distinguidas com a atribuição de um prémio Nobel