extends layout
block content

	h1(style="font-family: Montserrat, sans-serif; text-align: center; color: #E18720") Lista de laureados com prémios Nobel
	br
	div(style="margin-left: 15%; margin-right: 15%")
		table.w3-table-all.w3-hoverable.w3-border-orange.w3-centered
			tr.w3-orange
				th Ano
				th Categoria
				th Nome
			each laureate in laureates
				- if (laureate.surname === "") { var name = laureate.firstname } else { var name = laureate.firstname + " " + laureate.surname }
				each prize in laureate.prizes
					tr.w3-border-orange
						td= prize.year
						td= prize.category
						td= name	

	a(href="#" style="display: block; text-align: center")
		p(style="font-size: 25px") &#128285;
	address(style="text-align: center; margin-top: 2%; margin-bottom: 2%")
		a(href="/interface") Voltar