doctype html
html
    head
        title Prémios Nobel
        link(rel="stylesheet", href="/stylesheets/w3.css")
        link(rel="icon" type="image/x-icon" href="/images/nobel.ico")
    body
        block content