doctype html
html
    head
        title Arquivo Sonoro
        //- Personal style
        link(rel="stylesheet", href="/stylesheets/style.css")
        //- W3 style
        link(rel="stylesheet", href="/stylesheets/w3.css")
        //- fontawesome
        script(src="https://kit.fontawesome.com/a076d05399.js")
        //- axios
        script(src="https://unpkg.com/axios/dist/axios.min.js")
        //- Javascript actions handler
        script(src="javascripts/actions.js")
    body
        block content