h1 {
    text-align: center;
    color: #F79646
}
h2 {
    text-align: center;
    font-size: 34px
}
img {
    margin-right: 10px;
}
img:hover {
    cursor: pointer;
    opacity: 0.5
}
li {
    margin-left: 3%; 
    margin-right: 3%
}
/*------------ Style : Submit Task ------------*/
* {
    box-sizing: border-box;
}

/* Style the input container */
.input-container {
    display: flex;
    width: 100%;
    margin-bottom: 15px;
}

/* Style the form icons */
.icon {
    padding: 10px;
    background: #27C21F;
    color: white;
    min-width: 50px;
    text-align: center;
}

/* Style the input fields */
.input-field, .input-field2  {
    width: 100%;
    padding: 10px;
    outline: none;
}

.input-field:focus {
    border: 2px solid #27C21F;
}

.input-field2:focus {
    border: 2px solid #DEC92A;
}

/* Set a style for the submit button */
.btn {
    font-size: 18px;
    font-weight: bold;
    width: 20%;
    padding: 15px 20px;
    display: block;
    border: none;
    cursor: pointer;
    opacity: 1;
    margin: auto;
    border-radius: 25px;
}

.btn:hover {
    opacity: 0.7;
}