doctype html
html
  head
    title Arquivo de filmes americanos
    link(rel="shortcut icon" type="image/png" href="/images/video-camera.png")
    //- W3 style
    link(rel="stylesheet", href="/stylesheets/w3.css")
  body
    block content
