doctype html
html
    head
        title Gestor de Ficheiros
        link(rel="stylesheet", href="/stylesheets/w3.css")
        link(rel="stylesheet", href="/stylesheets/style.css")
        link(rel="stylesheet", href="/stylesheets/jquery.modal.min.css")
        script(src="/javascripts/jquery-3.4.1.min.js")
        script(src="/javascripts/jquery.modal.min.js")
        script(src="/javascripts/fileManager.js")
        script(src="/javascripts/axios.min.js")
    body
        block content