doctype html
html
    head
        meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")
        link(rel="icon", href="images/error.ico", type="image/x-icon")
        title Erro
        style.
            h1 {
                text-align: center;
                font-size: 30pt;
                font-family: Montserrat, sans-serif;
                margin: auto;
                color: #ff0000
            }
            h2 {
                text-align: center;
                font-family: Montserrat, sans-serif;
                margin: auto
            }
            p {
                text-align: center;
                font-family: Montserrat, sans-serif;
                font-size: 15pt;
            }
            img {
                display: block;
                margin: 0 auto;
                margin-top: 2%;
                width: 40%;
                border-radius: 30px
            }
    body
        h1 Erro
        br
        h2 &#128561; Infelizmente ocorreu um erro ... &#128561;
        p= e
        //- https://media.giphy.com/media/TvLuZ00OIADoQ/giphy.gif"
        img(src="images/loading.gif", alt="")