extends layout
block content
    h1(style="color: orange; text-align: center; font-family: Montserrat, sans-serif") Gestor de Tarefas
    br
    br
    div(style="font-family: Montserrat, sans-serif; margin-left: 2%; font-size: 15pt")
        | &#128073; 
        a(href="/submitTask") Submissão de uma tarefa
    br
    div(style="font-family: Montserrat, sans-serif; margin-left: 2%; font-size: 15pt")
        | &#128073; 
        a(href="/seeTasks") Visualização da lista de tarefas submetidas