extends layout
block content
    h2(style="color: #2196F3; text-align: center; font-family: Montserrat, sans-serif; margin-bottom: 2%") Lista de Tarefas
    
    .w3-container
        table.w3-table-all.w3-hoverable.w3-border-blue
            tr.w3-blue
                th Nome da tarefa
                th Data limite
                th Unidade curricular

            each task in list
                tr.w3-border-blue
                    td= task.name
                    td= task.deadline
                    td= task.subject
    
    a(style="font-family: Montserrat, sans-serif; font-size: 13pt; text-align: center; display: block; margin-top: 3%",
      href="/") &#128073; Voltar à pagina inicial &#128072;