doctype html
html
    head
        title Gestor de tarefas
        meta(charset="utf-8")
        script(src="https://kit.fontawesome.com/a076d05399.js")
        link(rel="stylesheet", href="w3.css")
        style.
            * {
                box-sizing: border-box;
            }

            /* Style the input container */
            .input-container {
                display: flex;
                width: 100%;
                margin-bottom: 15px;
            }

            /* Style the form icons */
            .icon {
                padding: 10px;
                background: #27C21F;
                color: white;
                min-width: 50px;
                text-align: center;
            }

            /* Style the input fields */
            .input-field {
                width: 100%;
                padding: 10px;
                outline: none;
            }

            .input-field:focus {
                border: 2px solid #27C21F;
            }

            /* Set a style for the submit button */
            .btn {
                background-color: #27C21F;
                color: white;
                padding: 15px 20px;
                border: none;
                cursor: pointer;
                width: 100%;
                opacity: 0.9;
            }

            .btn:hover {
                opacity: 1;
            }
    body 
        h2(style="color: #27C21F; text-align: center; font-family: Montserrat, sans-serif; margin-bottom: 2%") Submissão de Tarefa

        form(action="/sendTask", method="POST", style="margin-left: 10%; margin-right: 10%")
            div(class="input-container")
                i(class="fas fa-tasks icon")
                input(class="input-field" type="text" placeholder="Nome da tarefa" name="name" required)

            div(class="input-container")
                i(class="far fa-calendar-check icon")
                input(class="input-field" type="date" placeholder="Data limite" name="deadline" required)

            div(class="input-container")
                i(class="far fa-bookmark icon")
                input(class="input-field" type="text" placeholder="Unidade curricular" name="subject" required)

            section
                input(type="submit" value="Enviar" class="btn")

            p(style="text-align: center")= msg
        
        a(style="font-family: Montserrat, sans-serif; font-size: 13pt; text-align: center; display: block; margin-top: 3%" 
          href="/") &#128073; Voltar à pagina inicial &#128072;