h1 {
    text-align: center;
    color: #F79646
}
h2 {
    text-align: center;
    font-size: 34px
}
img {
    margin-left: 5px;
    margin-right: 5px;
}
img:hover {
    cursor: pointer;
    opacity: 0.5
}
li {
    margin-left: 3%; 
    margin-right: 3%
}
#actorInputNumber, #genreInputNumber {
    width: 50px;
    text-align: center;
    outline: none;
    border: 2px solid rgb(194, 194, 194);
    border-radius: 20px
}
#actorInputNumber:focus, #genreInputNumber:focus {
    border: 2px solid #27C21F
}

/*------------ Style : Submit Task ------------*/
* {
    box-sizing: border-box;
}

/* Style the input container */
.input-container {
    display: flex;
    width: 100%;
    margin-bottom: 15px
}

/* Style the form icons */
.icon {
    padding: 10px;
    background: #27C21F;
    color: white;
    min-width: 60px;
    text-align: center;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px
}

/* Style the input fields */
.input-field {
    width: 100%;
    padding: 10px;
    outline: none;
    border: 2px solid rgb(194, 194, 194);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px

}

.input-field2, .input-field3 {
    width: 100%;
    padding: 10px;
    outline: none;
    border: 2px solid rgb(194, 194, 194);
    border-radius: 20px;
    margin-bottom: 2px
}

.input-field:focus {
    border: 2px solid #27C21F
}

.input-field2:focus {
    border: 2px solid #DEC92A
}

.input-field3:focus {
    border: 2px solid #FF9800
}

/* Set a style for the submit button */
.btn {
    font-size: 18px;
    font-weight: bold;
    width: 18%;
    padding: 15px 20px;
    display: block;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    opacity: 1;
    margin: auto
}

.btn:hover {
    opacity: 0.7
}